@font-face {
    font-family: Title;
    src: url("/assets/fonts/Alkhemikal.ttf");
}

:root {
    cursor: crosshair;
}
body {
    width: 1000px;
    background: url("../assets/img/bg_koipond.png");
    background-size: 1500px;
    background-position: 50% 0;
    background-color: rgb(42, 0, 42);
    margin: auto;
}
#title {
    color: #22beca;
}
#header {
    td:nth-child(1) {
        text-align: right;
        width: 75px;
        padding: 1em 0em;
    }
    img {
        width: 56px;
    }
    a {
        color: #f99d3c;
        font-weight: normal;
    }
}
table {
    color: white;
    border: 0;
    border-collapse: collapse;
    width: 100%;

    td:nth-child(1) a.postlist-link {
        font-weight: bold;
		color: white;
	}

    td {
        background-color: black;
        padding: 1em;
    }
    th {
        padding: 0.1em 1em;
    }
    th, tr.category-header {
        height: 25px;
        text-align: left;
        color: white;
        background-color: #043038;

        a {
            color: white;
            font-weight: bold;
        }
    }
}

.ad {
    margin: 1em auto;
    display: block;
}
// nav {
//     position: relative;
//     width: max-content;
//     text-align: center;
//     margin: auto;
//     ul {
//         position: relative;
//         display: flex;
//         flex-direction: row;
//         width: 100%;
//         text-align: center;

//         li {
//             border: 5px solid;
//             border-style: ridge;
//             list-style: none;
//             cursor: pointer;
//             background-color: bisque;

//             &:hover {
//                 border-style: inset;
//             }

//             a {
//                 padding: 5px 15px;
//                 display: block;
//             }
//         }
//     }
// }

#main header {
    background-color: #043038;
    color: white;
    padding: 0.25em 1em;
    h1 { margin: 0; }
}

nav ul {
    display: flex;
    list-style: none;
    gap: 0.5em;
    margin: 0.25em 0;
    padding: 0;
}

footer {
    text-align: center;
    margin-bottom: 3rem;

    #affiliates {
        a {
            border: 2px solid;
            background-color: black;
            padding: 3px 10px;
        }
    }
}

a {
    color: #f99d3c;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Title;
    color: #22beca;
}

.header-table td {
    padding: 1em;
    color: #22beca;
}

.visually-hidden:not(:focus):not(:active) {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

details {
    summary {
        color: #22beca;
    }
    .spoiler-content {
        color: white;
    }
}