---json
{
  "permalink": "feed/archive.json",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "My Blog about Boats",
    "description": "I am writing about my experiences as a naval navel-gazer.",
    "language": "en",
    "base": "https://example.com/",
    "author": {
      "name": "Boaty McBoatFace"
    }
  }
}
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.title }}",
  "language": "{{ metadata.language or page.lang }}",
  "home_page_url": "{{ metadata.base | addPathPrefixToFullUrl }}",
  "feed_url": "{{ permalink | htmlBaseUrl(metadata.base) }}",
  "description": "{{ metadata.description }}",
  "authors": [
    {
      "name": "{{ metadata.author.name }}"
    }
  ],
  "items": [
    {%- for post in collections.posts | reverse %}
    {%- set absolutePostUrl %}{{ post.url }}{% endset %}
    {%- set thread = collections.thread | findThread(post.data.thread) %}
    {%- set user = users | findUser(post.data.user) %}
    {% set postcount = collections.postsByUser[post.data.user] | length %}
    {% if post.data.category == "Password Protected" %}
    {% else %}
    {
      "id": "{{ absolutePostUrl }}",
      "user": "{{ post.data.user }}",
      "userdata": {
        "postcount": "{{postcount}}",
        "username": "{{ user.username | escape}}",
        "title": "{{user.title | escape}}",
        "location": "{{user.location | escape}}",
        "age": "{{user.age}}",
        "hobbies": "{{user.hobbies | escape}}",
        "joined": "{{user.joined | toJSDate | readableDate }}",
        "avatar": "{{user.avatar}}"
      },
      "url": "{{ absolutePostUrl }}",
      "title": "{{ thread.data.title }}",
      "thread": "{{ post.data.thread }}",
      "category": "{{ post.data.category }}",
      "content_html": {% if post.content %}{{ post.content | renderTransforms(post.data.page, metadata.base) | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ post.date | dateToRfc3339 }}"
    }
    {% if not loop.last %},{% endif %}
    {% endif %}
    {%- endfor %}
  ]
}