---json
{
  "permalink": "feed.xml",
  "layout": "layouts/empty.njk",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Dead Threads",
    "description": "Shinri's Birthday ARG",
    "language": "en",
    "base": "https://shinri-bday-2026.neocities.org",
    "author": {
      "name": "Elysium Delivery Services"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language or page.lang }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(metadata.base) }}" rel="self" />
  <link href="{{ metadata.base | addPathPrefixToFullUrl }}" />
  <updated>{{ today | dateToRfc3339 }}</updated>
  <id>{{ metadata.base | addPathPrefixToFullUrl }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.posts | sortByLatest | reverse %}
  {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.base) }}{% endset %}
  {% if post.data.category == "Password Protected" %}
  {% else %}
  <entry>
    {% set thread = collections.threads | findThread(post.data.thread) %}
    {% set user = users | findUser(post.data.user) %}
    <title>{{ thread.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <pubDate>{{ post.date | dateToRfc3339 }}</pubDate>
    <author>{{user.username}}</author>
    <id>{{ post.url }}</id>
    <content type="html">{{ post.content | renderTransforms(post.data.page, metadata.base) }}</content>
  </entry>
  {% endif %}
  {%- endfor %}
</feed>