<div style="display:flex; font-size: 0.75em;">
<div>Recent games:
<ul style="margin: 0;">
    <li>Feeshman</li>
    <li>LCD Dream Simulator</li>
    <li>8th Guest</li>
</ul></div>
<div>Recent movies:
<ul style="margin: 0;">
    <li>The Creature</li>
</ul></div>
</div>