<div><img src="/assets/img/user/signature/ripplepoppop.jpg" height="150px" alt="drawing of ikemen dorito head jurard cradling flayon in his arms, with ikemen dorito head shinri on the opposite end looking longingly towards the viewer. image is decorated flowers, petals, lace, and sparkles. Text overlay: pls b nice im new :$"/></div>