---
layout: "layouts/base.njk"
---
<style>
    h1 { font-size: 4em; text-align: center; }
    #hbd_grid {
        display: grid;
        grid-template-columns: 0.3fr 1fr 0.3fr;
    }
    .ad, .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .center {
        padding: 0 2em;
        box-sizing: border-box;
        padding-bottom: 2em;
    }
    .ad img { width: 100%; margin-bottom: 1em; }
    .center img {
        width: 100%;
        height: 500px;
        border: 2px double white;
        object-fit: cover;
        background: white;
        margin-bottom: 1em;
    }
    .center a.large {
        font-size: 1.5em;
        margin-bottom: 0.25em;
    }
</style>
<h1>Happy Birthday, Shinri!</h1>


<div id="hbd_grid">
    <div class="ad">
        <img src="/assets/img/ads/FREE-TRIP.gif" alt="AD: CALL and WIN a FREE trip to the ELYSIUM TREE\nCALL NOW!\nAs seen on TV 1-800-WIN-TREE\nOffer valid while supplies last. We have no supplies.\n2,50 PER CALL"/>
        <img src="/assets/img/ads/rissun-bay.jpg" alt="AD: VISIT RISSUN BAY! Home of the Legendary Rissuna!\nWill YOU be the first to get a clear photo?\nGet a free booklet!"/>
    </div>
    <div class="center">
        <img src="#"/>
        <a class="large" href="/category/password-protected/happy-birthday/thread">Click here to see messages!</a>
        <i><a href="/category/password-protected/epilogue/thread">(what happened to MissingKoi???)</a></i>
    </div>
    <div class="ad">
        <img src="/assets/img/ads/save-the-bleaksoot.jpg" alt="AD: They are fluffy. They are friendly. They are disaapearing.\nVisit the Bleaksoot Preserve and help protect one of the worlds rarest cryptids\nCAN YOU SEE THEM CLEARLY?\nSponsored by Elysium Wildlife Foundation"/>
        <img src="/assets/img/ads/FREE-TRIP.gif" alt="AD: CALL and WIN a FREE trip to the ELYSIUM TREE\nCALL NOW!\nAs seen on TV 1-800-WIN-TREE\nOffer valid while supplies last. We have no supplies.\n2,50 PER CALL"/>
    </div>
</div>

