---
pagination:
  data: categories
  size: 1
  alias: category
permalink: /category/{{ category.title | slug }}/
---

<h1>{{ category.title }}</h1>

{% set threadlist = collections.threadsByCategory[category.title] %}
{% if (threadlist | length) == 0 %}
no threads here ): you should make one!
{% else %}
<table class="postlist">
  <tr>
			<th>subject</th>
			<th>started by</th>
			<th>replies</th>
			<th>last post</th>
  </tr>
{% for thread in threadlist | where("data.pinned", true) %}
  {% set firstPost = collections.postsByThread[thread.data.id] | sortByLatest | first %}
  {% set lastPost = collections.postsByThread[thread.data.id] | sortByLatest | last %}
  {% set userid = firstPost.data.user %}
  {% set userdata = users | findUser(userid) %}
  {% set lastUserData = users | findUser(lastPost.data.user) %}
  <tr>
    <td>
      📌 <a href="{{ thread.url }}" class="postlist-link">{% if thread.data.title %}{{ thread.data.title }}{% else %}<code>{{ thread.url }}</code>{% endif %}</a>
    </td>
    <td>
      <div class="category-thread">
        <a href="/users/{{userid}}">{{userdata.username}}</a>
      </div>
    </td>
    <td>
      {% set postcount = collections.postsByThread[thread.data.id] | length %}
      <span>{{postcount}} posts</span>
    </td>
    <td>
      {# {{lastPost}} #}
      <a href="{{lastPost.page.url}}">
        <time class="postlist-date" datetime="{{ lastPost.date | htmlDateString("utc") }}">
          {{ lastPost.date | readableDate("LL-dd-yyyy") }}
        </time>
      </a>
      <div> by {{ lastUserData.username }}</div>
    </td>
  </tr>
{% endfor %}
{% for thread in (collections.recentThreads | sortByLatest | reverse) %}
{% if not thread.data.pinned %}
  {% set firstPost = collections.postsByThread[thread.data.id] | sortByLatest | first %}
  {% set lastPost = collections.postsByThread[thread.data.id] | sortByLatest | last %}
  {% set userid = firstPost.data.user %}
  {% set userdata = users | findUser(userid) %}
  {% set lastUserData = users | findUser(lastPost.data.user) %}
  <tr>
    <td>
      <a href="{{ thread.url }}" class="postlist-link">{% if thread.data.title %}{{ thread.data.title }}{% else %}<code>{{ thread.url }}</code>{% endif %}</a>
    </td>
    <td>
      <div class="category-thread">
        <a href="/users/{{userid}}">{{userdata.username}}</a>
      </div>
    </td>
    <td>
      {% set postcount = collections.postsByThread[thread.data.id] | length %}
      <span>{{postcount}} posts</span>
    </td>
    <td>
      {# {{lastPost}} #}
      <a href="{{lastPost.page.url}}">
        <time class="postlist-date" datetime="{{ lastPost.date | htmlDateString("utc") }}">
          {{ lastPost.date | readableDate("LL-dd-yyyy") }}
        </time>
      </a>
      <div> by {{ lastUserData.username }}</div>
    </td>
  </tr>
{% endif %}
{% endfor %}
</table>
{% endif %}