---
title: "Credits"
eleventyNavigation:
  key: "Credits"
  order: 5
layout: "layouts/base.njk"
---
<link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet" />
<link href="/assets/fontawesome/css/brands.css" rel="stylesheet" />
<style>
    h1 { text-align: center; }
    .credit-table ul {
      column-count: 2;
    }
    .credit-table li a {
      display: inline-block;
    }
    .credit-table th:nth-child(1),
    .credit-table td:nth-child(1) { text-align: right; }
    .credit-table:nth-of-type(2) th:nth-child(1),
    .credit-table:nth-of-type(2) td:nth-child(1) { min-width: 200px; }
    .credit-table td { vertical-align: top; border-bottom: 1px solid #043038; }
</style>
<h1>Dead Threads Team</h1>
{% for credit in credits %}
<table class="credit-table" style="border: 5px double #043038; background: black; margin-bottom: 2em;">
  <tr>
    <th colspan="2" style="text-align: center;"><h2>{{credit.group}}</h2></th>
  </tr>
  <tr>
    <th>Role</th>
    <th>Name</th>
  </tr>
  {% for user in credit.users %}
  <tr>
      <td>{{user.role}}</td>
      <td>
        <span class="credit-name"><b>{{user.name}}</b></span>
        {%if user.socials %} / 
        {% set reTwt = r/^.*twitter.*/g %}
        {% set reBsky = r/^.*bsky.*/g %}
        {% for social in user.socials %}
          {%if reTwt.test(social) %}
            <a href="{{social}}"><i class="fa-brands fa-twitter"></i></a>
          {%elseif reBsky.test(social) %}
            <a href="{{social}}"><i class="fa-brands fa-bluesky"></i></a>
          {%endif%}
        {%endfor%}
        {%endif%}
        {%if user.items %}
        <ul>
        {% for item in user.items %}
          <li>{{item | safe}}</li>
        {%endfor%}
        </ul>
        {%endif%}
      </td>
  </tr>
  {% endfor %}
</table>
{% endfor %}