---js
const eleventyNavigation = {
	key: "Recent",
	order: 1
};

const numberOfLatestThreadsToShow = 3;
---

<style>
	.postlist {
		width: 100%;
		border-collapse: collapse;
	}

	.postlist td {
		border: 1px solid teal;
	}

	.postrow {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 1em;
		margin-top: 1em;
	}
	.postsearch {
		display: block;
	}

	.header-table td {
		padding: 1em;
	}
</style>

<table reversed class="postlist">
    <tr>
        <th>subject</th>
        <th>started by</th>
        <th>replies</th>
        <th>last post</th>
    </tr>
{%- for threaditem in collections.thread %}	
    {% set lastPost = collections.postsByThread[threaditem.data.id] | last %}
    {% set userid = lastPost.data.user %}
    {% set userdata = users | findUser(userid) %}
    <tr>
        <td>
            <a href="{{ threaditem.url }}" class="postlist-link"><span>[{{threaditem.data.category}}]</span> {% if threaditem.data.title %}{{ threaditem.data.title }}{% else %}<code>{{ threaditem.url }}</code>{% endif %}</a>
        </td>
        <td>
            <div class="category-thread">
                <a href="/users/{{userid}}">{{userdata.username}}</a>
            </div>
        </td>
        <td>
            {% set postcount = collections.postsByThread[threaditem.data.id] | length %}
            <span>{{postcount}} posts</span>
        </td>
        <td>
            {# {{lastPost}} #}
            <a href="{{lastPost.page.url}}">
                <time class="postlist-date" datetime="{{ threaditem.date | htmlDateString }}">{{ threaditem.date | readableDate("LL-dd-yyyy") }}</time>
            </a>
        </td>
    </tr>
{%- endfor %}
</table>
