---
title: "Search"
eleventyNavigation:
  key: "Search"
  order: 100
date: 2021-09-14T16:26:36+0200
permalink: "/search/"
layout: "layouts/search.njk"
---
{% js %}{%include "js/search.js" %}{% endjs %}

{% css %}
.field {
	width: 270px;
	height: 34px;
	font-size: 13px;
	font-weight: 400;
	padding-left: 12px;
	border: 2px solid #eee;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 17px;
	-webkit-appearance: none;
}
{% endcss %}

<form onSubmit="return false;">
	<input class="field" type="text" name="q" id="input_search" placeholder="Search" onChange="submitSearch(this.value.toLowerCase());" />
</form>

<div id="list_results"></div>