---
title: "Password Protected"
date: 2021-09-14T16:26:36+0200
layout: "layouts/base.njk"
permalink: /category/password-protected/index.html
---

<style>
    #gate { text-align: center; height: 250px; }
    #hint { color: red; }
    #hint p { margin: 0; color: initial; }
</style>

<div id="gate">
    <h1>{{title}}</h1>
    <p>Enter password to view posts in this section</p>

    <form id="form">
        <p id="hint"></p>
        <input name="secret" type="password"/>
        <button type="submit">enter</button>
    </form>
</div>

{% set threadlist = collections.threadsByCategory[title] %}
<table id="table" class="postlist" style="display: none;">
  <tr>
			<th>subject</th>
			<th>started by</th>
			<th>replies</th>
			<th>last post</th>
  </tr>
{% for thread in threadlist | where("data.pinned", true) | reverse %}
  {% set lastPost = collections.postsByThread[thread.data.id] | last %}
  {% set userid = lastPost.data.user %}
  {% set userdata = users | findUser(userid) %}
  <tr>
    <td>
      📌 <a href="{{ thread.url }}" class="postlist-link">{% if thread.data.title %}{{ thread.data.title }}{% else %}<code>{{ thread.url }}</code>{% endif %}</a>
    </td>
    <td>
      <div class="category-thread">
        <a href="/users/{{userid}}">{{userdata.username}}</a>
      </div>
    </td>
    <td>
      {% set postcount = collections.postsByThread[thread.data.id] | length %}
      <span>{{postcount}} posts</span>
    </td>
    <td>
      {# {{lastPost}} #}
      <a href="{{lastPost.page.url}}">
        <time class="postlist-date" datetime="{{ thread.date | htmlDateString("utc") }}">{{ thread.date | readableDate("LL-dd-yyyy") }}</time>
      </a>
    </td>
  </tr>
{% endfor %}
{% for thread in threadlist | reverse %}
{% if not thread.data.pinned %}
  {% set lastPost = collections.postsByThread[thread.data.id] | last %}
  {% set userid = lastPost.data.user %}
  {% set userdata = users | findUser(userid) %}
  <tr>
    <td>
      <a href="{{ thread.url }}" class="postlist-link">{% if thread.data.title %}{{ thread.data.title }}{% else %}<code>{{ thread.url }}</code>{% endif %}</a>
    </td>
    <td>
      <div class="category-thread">
        <a href="/users/{{userid}}">{{userdata.username}}</a>
      </div>
    </td>
    <td>
      {% set postcount = collections.postsByThread[thread.data.id] | length %}
      <span>{{postcount}} posts</span>
    </td>
    <td>
      {# {{lastPost}} #}
      <a href="{{lastPost.page.url}}">
        <time class="postlist-date" datetime="{{ thread.date | htmlDateString("utc") }}">{{ thread.date | readableDate("LL-dd-yyyy") }}</time>
      </a>
    </td>
  </tr>
{% endif %}
{% endfor %}
</table>

{% js %}{%include "js/xorcipher.js" %}{% endjs %}
{% js %}{%include "js/secret.js" %}{% endjs %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const input = sessionStorage.getItem("dt-secret") ?? "";
        if (checkPassword(input)) {
            location.href = "/category/password-protected/happy-birthday";
        }
    })
    const form = document.getElementById("form");
    form.addEventListener("submit", (e) => {
        e.preventDefault();
        const data = new FormData(e.target);
        if (checkPassword(data.get("secret").toLowerCase())) {
            location.href = "/category/password-protected/happy-birthday";
        }
    })
</script>