<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		{# <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}"> #}

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/posts.css" />
		{#- Render the CSS bundle #}
		{%- if eleventy.env.runMode === "serve" %}
		{# External files (local dev live reload will refresh without page reload) #}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
		{%- else  %}
		{# Inlined CSS (fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{%- endif %}
	</head>
	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<header>
			<marquee scrollamount="5" behavior="alternate">
				<h1 id="title">
					welcome to dead threads
				</h1>
			</marquee>
			<table id="header" class="header-table">
				<tr>
					<td>
						
					</td>
					<td>
							welcome, <b>Guest</b>. 
							Please <a href="#">login</a> or <a href="#">register</a>. 
							<a href="#">thinking of joining the forum?</a>
							<br/>
							today is <date id="today">1996</date>
					</td>
				</tr>
				<tr>
					<th></th>
					<th>
						{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
						<nav>
							<h2 class="visually-hidden">Top level navigation menu</h2>
							<ul class="nav">
								<li class="nav-item"><a href="/">home</a></li>
								<li class="nav-item"><a id="random-link" href="">random</a></li>
								<li class="nav-item"><a href="/recent">recent posts</a></li>
								<li class="nav-item"><a href="/help">help</a></li>
							</ul>
						</nav>
					</th>
				</tr>
			</table>
			<img class="ad" src="/assets/img/internet-explorer-3-0-1996.gif"/>
		</header>

		<main id="main">
            {{ content | safe }}
		</main>

		<hr/>
		<footer>
            <p>powered by fishnet explorer</p>
			<img src="/assets/img/Fishnet_internet_explorer.jpg"/>
			<p><b>affiliate links</b></p>
			<span id="affiliates">
			<a href="#">elysium delivery services</a>
			<a href="#">the badlands</a>
			<a href="#">~tempus cafe~</a>
			</span>
		</footer>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script>
			const dateEl = document.getElementById("today");
			const today = new Date();
			today.setFullYear(1996);
			dateEl.innerHTML = today.toLocaleDateString(undefined, {
				year: "numeric",
				month: "long",
				day: "numeric",
			});

			document.addEventListener("DOMContentLoaded", function() {
				fetch("/feed/archive.json").then(response => response.json()).then(data => {
					const posts = data.items;
					const randomIdx = Math.floor(Math.random() * data.items.length);
					document.getElementById("random-link").href = posts[randomIdx].url.split("#")[0];
				});
			});
		</script>
		<script src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
