<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		{# <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}"> #}

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/posts.css" />
		{#- Render the CSS bundle #}
		{%- if eleventy.env.runMode === "serve" %}
		{# External files (local dev live reload will refresh without page reload) #}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
		{%- else  %}
		{# Inlined CSS (fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{%- endif %}
	</head>
	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<header>
			<marquee scrollamount="5" behavior="alternate">
				<h1 id="title">
					welcome to dead threads
				</h1>
			</marquee>
			<table id="header" class="header-table">
				<tr>
					<td>
						<img src="/assets/img/user/profile/user.jpg" alt="generic user icon"/>
					</td>
					<td>
							welcome, <b>Josuiji Shinri</b>. 
							{# Please <a href="https://twitter.com/josuijishinri">login</a> or <a href="https://www.youtube.com/@JosuijiShinri?sub_confirmation=1">register</a>. 
							<a href="https://www.youtube.com/@JosuijiShinri/community">thinking of joining the forum?</a> #}
							<br/>
							today is <date id="today">1996</date>
					</td>
				</tr>
				<tr>
					<th></th>
					<th>
						{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
						<nav>
							<h2 class="visually-hidden">Top level navigation menu</h2>
							<ul class="nav">
								<li class="nav-item"><a href="/home">home</a></li>
								<li class="nav-item"><a id="random-link" href="">random</a></li>
								<li class="nav-item"><a href="/recent">recent posts</a></li>
								<li class="nav-item"><a href="/help">help</a></li>
								<li class="nav-item" style="flex-grow: 1"><a href="/credits">credits</a></li>
								<li class="nav-item"><a href="/">logout</a></li>
							</ul>
						</nav>
					</th>
				</tr>
			</table>
			<img id="banner" class="ad" src="/assets/img/ads/internet-explorer-3-0-1996.gif"/>
		</header>

		<main id="main">
            {{ content | safe }}
		</main>

		<hr/>
		<footer>
            <p>powered by fishnet explorer</p>
			<img src="/assets/img/Fishnet_internet_explorer.jpg" alt="Free Fishnet Internet Explorer"/>
			<p><b>affiliate links</b></p>
			<span id="affiliates">
			<a href="https://x.com/ElysiumDelivery">elysium delivery services</a>
			<a href="#">the badlands</a>
			<a href="#">~tempus cafe~</a>
			</span>
		</footer>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script>
			const dateEl = document.getElementById("today");
			const today = new Date();
			today.setFullYear(1996);
			dateEl.innerHTML = today.toLocaleDateString(undefined, {
				year: "numeric",
				month: "long",
				day: "numeric",
			});

			const ads = [
				{path: "FREE-TRIP.gif", alt: "AD: CALL and WIN a FREE trip to the ELYSIUM TREE\nCALL NOW!\nAs seen on TV 1-800-WIN-TREE\nOffer valid while supplies last. We have no supplies.\n2,50 PER CALL"},
				{path:"save-the-bleaksoot.jpg", alt: "AD: They are fluffy. They are friendly. They are disaapearing.\nVisit the Bleaksoot Preserve and help protect one of the worlds rarest cryptids\nCAN YOU SEE THEM CLEARLY?\nSponsored by Elysium Wildlife Foundation"},
				{path:"rissun-bay.jpg", alt: "AD: VISIT RISSUN BAY! Home of the Legendary Rissuna!\nWill YOU be the first to get a clear photo?\nGet a free booklet!"}
			];
			const banners = [
				{path: "internet-explorer-3-0-1996.gif", alt: "AD: Fishnet Explorer 3.0\nBetter? You bet! Click here!"},
				{path: "punikonic-v2.gif", alt: "AD: WIN a Digital Photocamera WITH Infrared thermovision\nPunikonic Digital Photocamera 550/600 Series"}
			];

			document.addEventListener("DOMContentLoaded", function() {
				fetch("/feed/archive.json").then(response => response.json()).then(data => {
					const posts = data.items;
					const randomIdx = Math.floor(Math.random() * data.items.length);
					document.getElementById("random-link").href = posts[randomIdx].url.split("#")[0];
				});

				const ad = document.getElementById("ad");
				const banner = document.getElementById("banner");

				if (ad) {
					let adData = ads[Math.floor(Math.random() * ads.length)];
					ad.src = `/assets/img/ads/${adData.path}`;
					ad.alt = adData.alt;
				};
				if (banner) {
					let bannerData = banners[Math.floor(Math.random() * banners.length)];
					banner.src = `/assets/img/ads/${bannerData.path}`;
					banner.alt = bannerData.alt;
				}
			});
		</script>
		<script src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
