<style>
    body {
        width: calc(100% - 2em);
        min-height: calc(100% - 2em);
        margin: 1em;
        padding: 5em;
        box-sizing: border-box;
        background-color: black;
        border: 5px double #043038;
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    a {
        display: inline-block;
        color: #f99d3c;
        text-decoration: none;
        font-weight: bold;
    }
</style>

<p>Dear Josuiji-kun,</p>
<br/>
<p>It's been a while!</p>
<p>Okay, it's been an extremely, extremely long time since Ronin Academy. Sorry for never reaching out except in the rare instance I needed something from you.</p>
<p>Life here in Xenokuni has been pretty hectic, and I understand you've left academia entirely. Good on you. The publish-or-die attitude is slowly draining away my life force, and not in the good way we used to joke about.</p>
<p>…Okay, I'll get right to it. I need your help, as you might have guessed. You were always the best at unraveling mysteries and solving puzzles, and I've heard you've gotten yourself involved with an adventuring guild overseas, back in my hometown even. So technically, you're the proper authority to go to.</p>
<p>Here's the gist: One of the regulars at the forums I frequent has been acting…peculiar, and this string of cryptically erratic posting has led to their disappearance. We're given to believe they've gone missing under suspicious circumstances, and we're hoping you can help us piece together what may have happened, if anything has happened at all. That a poster on the forum is responsible in part or whole for his disappearance is also not entirely out of the question.</p>
<p>If you're up for it, please go to <a href="/home">[Dead Threads]</a>. I've set up an account for you.</p>
<p style="text-align: right;">Hope you're well,<br/>S. Waters</p>