
{% set signature %}
    {% include "signatures/" + userid + ".njk" ignore missing %}
{% endset %}
{% set postcount = collections.postsByUser[userid] | length %}
<div id="{{ postid or post.fileSlug }}" class="post">
    <div class="inner">
        <dl class="profile">
            <div class="avatar"></div>
            <dt><u>{{ userdata.username }}</u></dt>
            <dd>posts: <a href="/users/{{userid}}">{{ postcount }}</a></dd>
            {% if userdata.title %}<dd>{{userdata.title}}</dd>{% endif %}
            {% if userdata.location %}<dd><b>Location:</b> {{userdata.location}}</dd>{% endif %}
            {% if userdata.oshis %}<dd><b>Oshis:</b> {{userdata.oshis}}</dd>{% endif %}
            {% if userdata.hobbies %}<dd><b>Hobbies:</b> {{userdata.hobbies}}</dd>{% endif %}
            <dd><b>Joined:</b> {{userdata.joined}}</dd>
        </dl>
        <div class="body">
            {{ header | safe }}
            <div class="content">
                {{ userdata.content | safe }}
                {{ postcontent | safe }}
            </div>
            {% if signature | trim | length %}
            <div class="signature" style="border-top: 1px solid;padding: 0.25em 1.5em;">{{ signature | safe }}</div>
            {% else %}
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
</div>