---
layout: "layouts/base.njk"
---

<form id="form">
	<input name="secret" type="text"/>
	<button type="submit">enter</button>
</form>

<script>
const keyword = ""
const form = document.getElementById("form");
form.addEventListener("submit", (e) => {
	e.preventDefault();
	const data = new FormData(this);
	if (data.get("secret") === keyword) {
		location.href = ""
	}
})
</script>