<table class="postsearch">
    <tr><th>search</th></tr>
    <tr><td style="width: 220px;">
        <form action="/search/">
            <input type="search" name="q" placeholder="enter keyword"/>
            <button type="submit">go</button>
        </form>
    </td></tr>
</table>
<img id="ad" class="ad" src="../../assets/img/FREE-TRIP.gif" style="width: 100%; margin: 1em 0;"/>